#cv {
    margin: 0 auto;
    justify-content: center;
    align-items: center; 
    padding: 5px;
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
}

hr {
    border: 1px solid white;

}

li {
    list-style-type: none;
}

.big {
    font-size: 42px;
}